/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (max-width: 991px) {
  #slider_1 .slider_item_container {
    min-height: 350px;
  }
  #slider_1 .slider-content {
    top: 50%;
    transform: translateY(-55%);
  }
  #slider_1 .slider-content h1 {
    font-size: 42px;
    line-height: 42px;
    margin-top: 0;
  }
  #slider_1 .slider-content h2 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
  }
  #slider_1 .slider-content h3 {
    font-size: 22px;
    line-height: 24px;
    font-weight: normal;
  }
  #slider_1 .slider-content .slider-button {
    margin-top: 16px;
  }
  #slider_1 .slider-content a.btn-slider,
  #slider_1 .slider-content a.btn-slider-2 {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
  }

  .section-kb-features {
    padding-top: 36px;
  }
  .section-kb-features .highlight-layout-1 {
    margin: 42px 0 0 0;
  }

  .page-header {
    padding: 80px 0;
  }
  .kb-cat-block {
    padding: 12px;
  }
  .kb-cat-block span {
    display: none;
  }
  .ask-question-section {
    margin: 0 12px !important;
  }
  .ask-question-section .ask-question-block {
    padding: 24px 16px;
  }
  .bkb-ques-form-container {
    width: 700px;
    margin: 0 auto;
  }
  .section-news-block {
    padding-bottom: 32px;
  }
  .news-layout-1 {
    margin: 0 0 48px 0;
  }
  .about_couter_block {
    margin: 48px 0;
  }
  .page-header {
    padding: 80px 0;
  }
  .ask-question-section .ask-question-block h2 {
    font-size: 16px;
    font-weight: 500;
  }
  .faq-ask-question-section {
    padding: 0px;
  }
  .cta-layout-2 .cta-info {
    padding: 0 24px;
  }
  .cta-layout-2 .cta-btn-container {
    position: relative;
    margin: 42px auto 0;
    display: block;
    text-align: center;
    float: none;
  }
  .cta-layout-3 {
    padding: 0;
  }
  .cta-layout-3 h2 {
    font-size: 20px;
    line-height: 32px;
    margin: 0 12px;
  }
  .counter-block-2 {
    margin-bottom: 32px;
  }

  /*-- Pricing Table --*/
  .kdesk-no-padding-pricing-column {
    padding: 0px !important;
  }
  .kdesk-no-padding-pricing-column:first-child {
    padding-left: inherit !important;
  }
  .kdesk-no-padding-pricing-column:last-child {
    padding-right: inherit !important;
  }
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
  #slider_1 .slider_item_container {
    min-height: 350px;
  }
  #slider_1 .slider-content {
    top: 50%;
    transform: translateY(-55%);
  }
  #slider_1 .slider-content h1 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 0;
  }
  #slider_1 .slider-content h2 {
    font-size: 30px;
    line-height: 42px;
    margin-top: 0;
  }
  #slider_1 .slider-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
  }
  #slider_1 .slider-content .slider-button {
    margin-top: 16px;
  }
  #slider_1 .slider-content a.btn-slider,
  #slider_1 .slider-content a.btn-slider-2 {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
  }

  .section-kb-features {
    padding-top: 36px;
  }
  .section-kb-features .highlight-layout-1 {
    margin: 42px 0 0 0;
  }
  .page-header {
    padding: 80px 0;
  }
  .kb-cat-block {
    padding: 12px;
  }
  .kb-cat-block span {
    display: none;
  }
  .ask-question-section .ask-question-block {
    padding: 24px 16px;
  }
  h2.theme-blue-title-bar a {
    line-height: 24px;
  }
  .news-layout-1 {
    margin: 0 0 48px 0;
  }
  .about_couter_block {
    margin: 48px 0;
  }
  .page-header {
    padding: 80px 0;
  }
  .page-header h3 {
    font-size: 28px;
    line-height: 32px;
    margin: 12px 0;
  }
  .ask-question-section .ask-question-block {
    margin: 0 10px 0 0 !important;
    padding: 0 12px !important;
  }
  .ask-question-section .ask-question-block h2 {
    font-size: 16px;
    font-weight: 500;
  }
  .faq-ask-question-section {
    padding: 0px;
  }
  .cta-layout-2 .cta-info {
    padding: 0 24px;
  }
  .cta-layout-2 .cta-btn-container {
    position: relative;
    margin: 42px auto 0;
    display: block;
    text-align: center;
    float: none;
  }
  .cta-section-2 h2 {
    font-size: 32px;
  }
  .cta-layout-3 {
    padding: 0;
  }
  .cta-layout-3 h2 {
    font-size: 20px;
    line-height: 32px;
    margin: 0 12px;
  }
  .counter-block-2 {
    margin-bottom: 32px;
  }

  /*----- Portfolio ----*/
  .portfolio-img-container img {
    width: 100%;
  }
  /*-----  Pricing Table ----*/
  .kdesk-no-padding-pricing-column {
    padding: 0px !important;
  }
  .kdesk-no-padding-pricing-column:first-child {
    padding-left: 0px !important;
  }
  .kdesk-no-padding-pricing-column:last-child {
    padding-right: 0px !important;
  }
  .article-container-fix,
  .main-sidebar {
    width: 100%;
    margin-left: 0px;
    border: 0px solid transparent;
  }
  .post-details-container h3 {
    margin-top: 12px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (min-width: 0px) and (max-width: 479px) {
  #slider_1 .slider_item_container {
    min-height: 300px;
  }
  #slider_1 .slider-content {
    top: 50%;
    transform: translateY(-55%);
  }
  #slider_1 .slider-content h1 {
    font-size: 32px;
    line-height: 32px;
    margin-top: 0;
  }
  #slider_1 .slider-content h2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
  }
  #slider_1 .slider-content h3 {
    display: none;
  }
  #slider_1 .slider-content .slider-button {
    margin-top: 16px;
  }
  #slider_1 .slider-content a.btn-slider,
  #slider_1 .slider-content a.btn-slider-2 {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
  }

  .section-kb-features {
    padding-top: 36px;
  }
  .section-kb-features .highlight-layout-1 {
    margin: 42px 0 0 0;
  }

  .page-header {
    padding: 80px 0;
  }
  .kb-cat-block {
    padding: 12px;
  }
  .kb-cat-block span {
    display: none;
  }
  .bkb-ques-form-container {
    width: 100%;
  }
  h2.theme-blue-title-bar a {
    line-height: 14px;
  }
  .section-counter {
    padding: 32px 0 0;
  }
  .counter-block-2 {
    margin-bottom: 32px;
  }
  /*-- Pricing Table --*/
  .kdesk-no-padding-pricing-column {
    padding: 0px !important;
  }
  .kdesk-no-padding-pricing-column:first-child {
    padding-left: 0px !important;
  }
  .kdesk-no-padding-pricing-column:last-child {
    padding-right: 0px !important;
  }
  .ask-question-section .ask-question-block {
    margin: 0 10px 0 0 !important;
    padding: 0 12px !important;
  }
  .ask-question-section .ask-question-block h2 {
    font-size: 16px;
    font-weight: 500;
  }
  .faq-ask-question-section {
    padding: 0px;
  }
  .cta-layout-2 .cta-info {
    padding: 0 24px;
  }
  .cta-layout-2 .cta-btn-container {
    position: relative;
    margin: 42px auto 0;
    display: block;
    text-align: center;
    float: none;
  }
  .cta-layout-3 {
    padding: 0;
  }
  .cta-layout-3 h2 {
    font-size: 20px;
    line-height: 32px;
    margin: 0 12px;
  }
  .page-header h3 {
    font-size: 24px;
    line-height: 32px;
    margin: 12px 0;
  }
}
