/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2018, 6:47:38 PM
    Author     : Mahbub Alam Khan
*/

body.compose-mode .vc_vc_row > .vc_parallax {
  padding-top: 100px;
}

body.compose-mode .vc_empty-shortcode-element {
  min-height: 0;
}

body.compose-mode .vc_empty-placeholder {
  margin-bottom: 0;
}

.compose-mode .vc_controls-column > .vc_controls-out-tl {
  top: 20px;
  left: 12px;
}

.compose-mode .vc_controls-column > .vc_controls-out-tl {
  top: -12px;
  left: 28px;
}

.compose-mode .vc_controls-container > .vc_controls-out-tl {
  top: 24px;
  left: 12px;
}

/*-- Front End --*/

body.compose-mode .vc_kdesk_slider_item,
body.compose-mode .vc_kdesk_pricetable_item,
body.compose-mode .vc_kdesk_counter_item,
body.compose-mode .vc_kdesk_highlights_item,
body.compose-mode .vc_kdesk_service_item,
body.compose-mode .vc_kdesk_testimonial_item,
body.compose-mode .vc_kdesk_gallery_item,
body.compose-mode .vc_kdesk_logo_item,
body.compose-mode .vc_kdesk_process_item,
body.compose-mode .vc_kdesk_team_item {
  float: left;
}

body.compose-mode .item_1 .vc_kdesk_slider_item,
body.compose-mode .item_1 .vc_kdesk_pricetable_item,
body.compose-mode .item_1 .vc_kdesk_counter_item,
body.compose-mode .item_1 .vc_kdesk_highlights_item,
body.compose-mode .item_1 .vc_kdesk_service_item,
body.compose-mode .item_1 .vc_kdesk_testimonial_item,
body.compose-mode .item_1 .vc_kdesk_gallery_item,
body.compose-mode .item_1 .vc_kdesk_logo_item,
body.compose-mode .item_1 .vc_kdesk_process_item,
body.compose-mode .item_1 .vc_kdesk_team_item {
  float: left;
  width: 100% !important;
}

body.compose-mode .item_2 .vc_kdesk_pricetable_item,
body.compose-mode .item_2 .vc_kdesk_counter_item,
body.compose-mode .item_2 .vc_kdesk_highlights_item,
body.compose-mode .item_2 .vc_kdesk_service_item,
body.compose-mode .item_2 .vc_kdesk_testimonial_item,
body.compose-mode .item_2 .vc_kdesk_gallery_item,
body.compose-mode .item_2 .vc_kdesk_logo_item,
body.compose-mode .item_2 .vc_kdesk_process_item,
body.compose-mode .item_2 .vc_kdesk_team_item {
  float: left;
  width: 50% !important;
}

body.compose-mode .item_3 .vc_kdesk_pricetable_item,
body.compose-mode .item_3 .vc_kdesk_counter_item,
body.compose-mode .item_3 .vc_kdesk_highlights_item,
body.compose-mode .item_3 .vc_kdesk_service_item,
body.compose-mode .item_3 .vc_kdesk_testimonial_item,
body.compose-mode .item_3 .vc_kdesk_gallery_item,
body.compose-mode .item_3 .vc_kdesk_logo_item,
body.compose-mode .item_3 .vc_kdesk_process_item,
body.compose-mode .item_3 .vc_kdesk_team_item {
  float: left;
  width: 33.33% !important;
}

body.compose-mode .item_4 .vc_kdesk_pricetable_item,
body.compose-mode .item_4 .vc_kdesk_counter_item,
body.compose-mode .item_4 .vc_kdesk_highlights_item,
body.compose-mode .item_4 .vc_kdesk_service_item,
body.compose-mode .item_4 .vc_kdesk_testimonial_item,
body.compose-mode .item_4 .vc_kdesk_gallery_item,
body.compose-mode .item_4 .vc_kdesk_logo_item,
body.compose-mode .item_4 .vc_kdesk_process_item,
body.compose-mode .item_4 .vc_kdesk_team_item {
  float: left;
  width: 25% !important;
}

/*-- Team --*/

body.compose-mode .item_1 .team-container .vc_kdesk_team_item,
body.compose-mode .item_2 .team-container .vc_kdesk_team_item,
body.compose-mode .item_3 .team-container .vc_kdesk_team_item,
body.compose-mode .item_4 .team-container .vc_kdesk_team_item,
body.compose-mode .item_1 .vc_kdesk_team_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_team_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_team_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_team_item [class^="col-"] {
  width: 100% !important;
}

/*-- Process --*/

body.compose-mode .item_1 .process-carousel .vc_kdesk_process_item,
body.compose-mode .item_2 .process-carousel .vc_kdesk_process_item,
body.compose-mode .item_3 .process-carousel .vc_kdesk_process_item,
body.compose-mode .item_4 .process-carousel .vc_kdesk_process_item,
body.compose-mode .item_1 .vc_kdesk_process_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_process_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_process_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_process_item [class^="col-"] {
  width: 100% !important;
}

/*-- Logo --*/

body.compose-mode .item_1 .logo-carousel .vc_kdesk_logo_item,
body.compose-mode .item_2 .logo-carousel .vc_kdesk_logo_item,
body.compose-mode .item_3 .logo-carousel .vc_kdesk_logo_item,
body.compose-mode .item_4 .logo-carousel .vc_kdesk_logo_item,
body.compose-mode .item_1 .vc_kdesk_logo_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_logo_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_logo_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_logo_item [class^="col-"] {
  width: 100% !important;
}

/*-- Gallery --*/

body.compose-mode .item_1 .gallery-carousel .vc_kdesk_gallery_item,
body.compose-mode .item_2 .gallery-carousel .vc_kdesk_gallery_item,
body.compose-mode .item_3 .gallery-carousel .vc_kdesk_gallery_item,
body.compose-mode .item_4 .gallery-carousel .vc_kdesk_gallery_item,
body.compose-mode .item_1 .vc_kdesk_gallery_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_gallery_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_gallery_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_gallery_item [class^="col-"] {
  width: 100% !important;
}

/*-- Testimonial --*/

body.compose-mode .item_1 .testimonial-container .vc_kdesk_testimonial_item,
body.compose-mode .item_2 .testimonial-container .vc_kdesk_testimonial_item,
body.compose-mode .item_3 .testimonial-container .vc_kdesk_testimonial_item,
body.compose-mode .item_4 .testimonial-container .vc_kdesk_testimonial_item,
body.compose-mode .item_1 .vc_kdesk_testimonial_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_testimonial_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_testimonial_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_testimonial_item [class^="col-"] {
  width: 100% !important;
}

/*-- Service --*/

body.compose-mode .item_1 .service-carousel .vc_kdesk_service_item,
body.compose-mode .item_2 .service-carousel .vc_kdesk_service_item,
body.compose-mode .item_3 .service-carousel .vc_kdesk_service_item,
body.compose-mode .item_4 .service-carousel .vc_kdesk_service_item,
body.compose-mode .item_1 .vc_kdesk_service_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_service_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_service_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_service_item [class^="col-"] {
  width: 100% !important;
}

/*-- Highlights --*/

body.compose-mode .item_1 .highlight-carousel .vc_kdesk_highlights_item,
body.compose-mode .item_2 .highlight-carousel .vc_kdesk_highlights_item,
body.compose-mode .item_3 .highlight-carousel .vc_kdesk_highlights_item,
body.compose-mode .item_4 .highlight-carousel .vc_kdesk_highlights_item,
body.compose-mode .item_1 .vc_kdesk_highlights_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_highlights_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_highlights_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_highlights_item [class^="col-"] {
  width: 100% !important;
}

/*-- Counter --*/

body.compose-mode .item_1 .vc_kdesk_counter_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_counter_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_counter_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_counter_item [class^="col-"],
body.compose-mode .item_5 .vc_kdesk_counter_item [class^="col-"],
body.compose-mode .item_6 .vc_kdesk_counter_item [class^="col-"] {
  width: 100% !important;
}

/*-- Pricing Table --*/

body.compose-mode .item_1 .vc_kdesk_pricetable_item [class^="col-"],
body.compose-mode .item_2 .vc_kdesk_pricetable_item [class^="col-"],
body.compose-mode .item_3 .vc_kdesk_pricetable_item [class^="col-"],
body.compose-mode .item_4 .vc_kdesk_pricetable_item [class^="col-"] {
  width: 100% !important;
}
