span.baf-new-tag {
  background: #fff;
  color: green;
  border-radius: 4px;
  position: relative;
  margin-left: 6px;
  padding: 0 4px;
  font-size: 10px;
  font-weight: bold;
  top: -5px;
}

.more-addon {
  display: flex;
  vertical-align: top;
}

// baf-addon-page-wrap

.baf-addon-page-wrap {
  background: inherit;
  h2:first-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
  }
}
