/*-- Redux Config --*/

.redux-main .color-transparency-check {
  position: relative;
  top: -3px;
  left: 6px;
}

.redux-main .redux-container-background .upload,
.redux-container .redux-main input.large-text {
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 12px;
}
