/* This stylesheet is used to style the admin option form of the plugin. */

.vc_element-icon.icon-kdesk-vc-addon {
  background-image: url("../images/icon-kdesk-vc-addon.png") !important;
  background-position: 0 0 !important;
}

.vc_element-icon.icon-kdesk-vc-addon {
  background-image: url("../images/icon-kdesk-vc-addon.png") !important;
}

/*-- Suggestion  --*/

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100000 !important;
}

div.wpb_kdesk_logo_item img.slider_image {
  width: 32px;
  height: 32px;
}

#vc_license-activation-notice {
  display: none;
}

img.cta_image,
img.logo_image,
img.slider_image,
img.gallery_img {
  width: 24px;
  height: 24px;
  margin-top: 3px;
}

.vc_admin_label label {
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: #555;
}
