// This colors will be used for both frontend and backend.

// Color Scheme for Kdesk VC Addons

$primary-color: #13b4ef;

// Background
$bg-white: #ffffff;
$bg-black: #000000;
$bg-gray: #c6c6c6;
$bg-red: #e63f37;
$bg-green: #008000;
$bg-orange: #ffa500;
$bg-blue: #019dd6;

// Text Color
$text-white: #ffffff;
$text-black: #000000;
$text-gray: #c6c6c6;
$text-red: #e63f37;
$text-green: #008000;
$text-orange: #ffa500;
$text-blue: #019dd6;

// Border Color
$border-white: #ffffff;
$border-black: #000000;
$border-gray: #c6c6c6;
$border-red: #e63f37;
$border-green: #008000;
$border-orange: #ffa500;
$border-blue: #019dd6;
