.portfolio_vtl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  .event {
    text-align: center;
    width: 100%;
    padding: 8px;
    background-color: $bg-white;
    border: 1px solid lighten($primary-color, 20%);
    @include round(4px);
    @include transition();

    &:hover {
      background-color: darken($bg-white, 2%);
      border: 1px solid lighten($primary-color, 10%);
    }

    .date {
      font-size: 16px;
      color: $primary-color;
      margin: 0;
      font-weight: 600;
    }

    .txt {
      margin: 0;
      color: #222;
    }
  }
}
