/*!****************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/admin/styles/admin.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************/
.bwl-plugin-grid {
  padding-left: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}
.bwl-plugin-grid img {
  max-width: 100%;
  height: auto;
}
.bwl-plugin-grid--cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 480px) {
  .bwl-plugin-grid--cols-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.bwl-plugin-grid--cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
  .bwl-plugin-grid--cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .bwl-plugin-grid--cols-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.bwl-plugin-grid--cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px) {
  .bwl-plugin-grid--cols-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .bwl-plugin-grid--cols-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .bwl-plugin-grid--cols-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.bwl-product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  background: #ffffff;
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.bwl-product-card:hover {
  background: #fafafa;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
}
.bwl-product-card__title {
  font-size: 1.3rem;
  font-weight: get-font-weight(bold);
}
.bwl-product-card__version {
  display: inline-block;
  padding: 0 12px;
  color: #ffffff;
  background: #333;
  margin: 0 6px;
  border-radius: 4px;
  font-size: 12px;
}
.bwl-product-card__price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 6px 0 12px;
  flex-grow: 1;
}
.bwl-product-card__price {
  /* Regular Price */
  /* New Price */
  /* Discount Badge */
}
.bwl-product-card__price--reg {
  text-decoration: line-through;
  color: #c6c6c6;
  font-size: 16px;
  font-style: italic;
}
.bwl-product-card__price--new {
  color: #008000;
  font-size: 36px;
  font-weight: bold;
}
.bwl-product-card__price--badge {
  background-color: #e63f37;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 4px;
  text-transform: uppercase;
}
.bwl-product-card__btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0 12px;
  border-top: 1px solid #c6c6c6;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-grow: 1;
}
.bwl-product-card__button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #333;
  transition: all 0.3s ease-in-out;
}
.bwl-product-card__button--download {
  background: #00b300 !important;
  color: #ffffff;
}
.bwl-product-card__button--download:hover {
  background: #009a00 !important;
  color: #ffffff;
}
.bwl-product-card__button--documentation {
  background: #0cbdfe !important;
}
.bwl-product-card__button--documentation:hover {
  background: #01b0ef !important;
}

span.baf-new-tag {
  background: #fff;
  color: green;
  border-radius: 4px;
  position: relative;
  margin-left: 6px;
  padding: 0 4px;
  font-size: 10px;
  font-weight: bold;
  top: -5px;
}

.more-addon {
  display: flex;
  vertical-align: top;
}

.baf-addon-page-wrap {
  background: inherit;
}
.baf-addon-page-wrap h2:first-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
}

/* This stylesheet is used to style the admin option form of the plugin. */
.vc_element-icon.icon-kdesk-vc-addon {
  background-image: url(../images/icon-kdesk-vc-addon.8f28a9a9.png) !important;
  background-position: 0 0 !important;
}

.vc_element-icon.icon-kdesk-vc-addon {
  background-image: url(../images/icon-kdesk-vc-addon.8f28a9a9.png) !important;
}

/*-- Suggestion  --*/
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100000 !important;
}

div.wpb_kdesk_logo_item img.slider_image {
  width: 32px;
  height: 32px;
}

#vc_license-activation-notice {
  display: none;
}

img.cta_image,
img.logo_image,
img.slider_image,
img.gallery_img {
  width: 24px;
  height: 24px;
  margin-top: 3px;
}

.vc_admin_label label {
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  color: #555;
}

/*-- Redux Config --*/
.redux-main .color-transparency-check {
  position: relative;
  top: -3px;
  left: 6px;
}

.redux-main .redux-container-background .upload,
.redux-container .redux-main input.large-text {
  padding: 8px;
  margin-bottom: 5px;
  margin-top: 12px;
}

/*Portfolio page*/
img.attachment-kdesk_portfolio_thumb {
  border-radius: 6px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

#bwl-theme-product-license h2:first-child {
  border-bottom: 1px solid daken(#c6c6c6, 5%);
  margin-bottom: 12px;
}
#bwl-theme-product-license #loader {
  font-weight: bold;
  font-size: 16px;
  margin: 12px 0;
}
#bwl-theme-product-license #loader .verify_error {
  color: #ff0000;
}
#bwl-theme-product-license #loader .verify_success {
  color: #008000;
}
#bwl-theme-product-license input,
#bwl-theme-product-license button {
  font-size: 16px;
  height: 42px;
  line-height: 32px;
  font-weight: 700;
}
#bwl-theme-product-license #remove_license {
  background: #e9554e;
  border-color: #e9554e;
}
#bwl-theme-product-license #remove_license:hover {
  background: #e63f37;
}
#bwl-theme-product-license .license_faq_container {
  background: #ffffff;
  padding: 12px;
  margin-top: 24px;
}
#bwl-theme-product-license h3.license_faq_title {
  text-align: left;
  font-size: 20px;
}
#bwl-theme-product-license ul.license_faqs {
  text-align: left;
}
#bwl-theme-product-license ul.license_faqs li {
  margin-bottom: 12px;
}
#bwl-theme-product-license ul.license_faqs li .question {
  font-weight: bold;
  font-size: 16px;
  border-left: 6px solid #008000;
  padding: 0 6px;
}
#bwl-theme-product-license ul.license_faqs li .answer {
  font-weight: normal;
  padding: 0 6px;
}

.bwl_dn {
  display: none;
}

a.bwl_activation_link {
  font-weight: bold;
  color: #008000;
}

a.bwl_activation_meta_link {
  font-weight: bold;
  color: #ff0000;
}

span.bwl-license-activation-tag {
  border-radius: 2px;
  position: relative;
  margin-left: 4px;
  padding: 0 3px;
  font-size: 9px;
  font-weight: bold;
  top: 0px;
}
span.bwl-license-activation-tag.activated {
  background: #ffffff;
  color: #008000;
}
span.bwl-license-activation-tag.inactive {
  background: #ffffff;
  color: #ff0000;
}

.license_form_container,
.license_info_container {
  background: #ffffff;
  padding: 24px;
}
.license_form_container h3,
.license_info_container h3 {
  margin-top: 0;
  font-size: 24px;
}
.license_form_container h4,
.license_info_container h4 {
  margin-top: 0;
  font-size: 16px;
}

.license_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.license_form_container h3 {
  color: #008000;
}
.license_form_container #purchase_code {
  width: 450px;
  max-width: 100%;
  height: 42px;
  line-height: 32px;
  padding: 0 12px;
}
.license_form_container__youtube_link {
  font-weight: bold;
}
.license_form_container__youtube_link a {
  text-decoration: none;
}
.license_form_container__youtube_link a .dashicons-youtube {
  color: #ff0000;
}

.license_info_container a.button {
  font-size: 16px;
  height: 42px;
  line-height: 40px;
  font-weight: bold;
  padding: 0 24px;
  background: #008000;
}
.license_info_container a.button:hover {
  background: black;
}

.plugin_purchase_info {
  font-size: 16px;
}
.plugin_purchase_info li {
  line-height: 28px;
  display: flex;
  gap: 12px 0;
}
.plugin_purchase_info li strong {
  flex-basis: 120px;
}
.plugin_purchase_info li .support-valid {
  background: #008000;
  color: #ffffff;
  margin-left: 6px;
  border-radius: 4px;
  padding: 0 10px;
  font-weight: bold;
  line-height: 24px;
}
.plugin_purchase_info li .support-expired {
  background: #e63f37;
  color: #ffffff;
  margin-left: 6px;
  border-radius: 4px;
  padding: 0 10px;
  font-weight: bold;
  line-height: 24px;
}

.offline-msg {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}

#offline_verify_purchase {
  text-align: center;
}
#offline_verify_purchase textarea {
  display: block;
}
#offline_verify_purchase #offline_verify {
  margin: 14px 0 0 0;
  width: 130px;
  height: 36px;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
}

.baf_notice_text {
  color: inherit;
}
.baf_notice_text--success {
  color: #008000;
}
.baf_notice_text--danger {
  color: #ff0000;
}
.baf_notice_text--warning {
  color: #ffa500;
}

.bwl_theme_notice_text {
  color: inherit;
  line-height: 24px;
}
.bwl_theme_notice_text a {
  text-decoration: none;
}
.bwl_theme_notice_text--success {
  color: #008000;
}
.bwl_theme_notice_text--danger {
  color: #ff0000;
}
.bwl_theme_notice_text--warning {
  color: #ffa500;
}
.bwl_theme_notice_text--gray {
  color: #b3b3b3;
}
.bwl_theme_notice_text--bold {
  font-weight: 700;
}

/*# sourceMappingURL=admin.css.map*/