$primary-color: #272727;
$text-color: #2c2c2c;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$text-color: #333333;
$text-error: #ff0000;
$text-success: #008000;
$text-warning: #ffa500;
$light-text-color: #ffffff;
$bg-white: #ffffff;
$border-color-white: #d0dae2;
$border-gray: #c6c6c6;
$bg-error: #e63f37;
$bg-success: #008000;
$bg-gray: #c6c6c6;

// Mixins variables
$tablet_screen_size: 576px;
$tablet_horizontal_screen_size: 767px;
$desktop_screen_size: 992px;
$large_screen_size: 1200px;

$grid-breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$sm-screen-size: map-get($grid-breakpoints, sm);
$md-screen-size: map-get($grid-breakpoints, md);
$lg-screen-size: map-get($grid-breakpoints, lg);
