.contact-info {
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 24px;

  li {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-container {
    display: inline-block;
    background: $primary-color;
    color: #ffffff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-right: 16px;
  }

  .icon-container i {
    font-size: 14px;
  }

  address {
    display: inline-block;
    margin: 0;
  }

  a {
    color: #1a1a1a;

    &:hover {
      color: #40c1f0;
    }
  }
}
