/*------------------------------------ 03. HEADING BLOCK ------------------------------------*/

.page-heading {
  margin: 0;
  padding: 200px 0 80px;
}

.page-heading h3 {
  color: $light-text-color;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.page-heading .page-breadcrumb {
  font-size: 16px;
  color: $light-text-color;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.page-heading .page-breadcrumb a {
  color: $light-text-color;
}

.page-heading .page-breadcrumb a:hover {
  color: #77c720;
}
