// JUMBOTRON SEARCH BOX

.jumbo_search_box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 40vh;

  @include tablet {
    height: 60vh;
  }

  @include tabletHorizontal {
    height: 55vh;
  }

  @include desktop {
    height: 70vh;
  }
}

#jumbotron_1 {
  clear: both;

  &:before {
    clear: both;
  }

  .item img {
    display: none;
  }

  .jumbotron-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: $desktop_screen_size;
    width: 100%;
    hyphens: none;

    @include desktop {
      gap: 24px;
    }

    h2,
    h3 {
      letter-spacing: 0em;
      color: $light-text-color;
      margin: 0;
      span {
        background: rgba(64, 193, 240, 0.7);
      }
    }

    h2 {
      font-size: 22px;
      line-height: 24px;
      font-weight: 700;

      @include tablet {
        font-size: 32px;
        line-height: 36px;
      }

      @include desktop {
        font-size: 42px;
        line-height: 46px;
      }

      span {
        padding: 0 5px;
      }
    }
    h3 {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      @include tablet {
        font-size: 20px;
      }

      @include desktop {
        font-size: 24px;
        line-height: 32px;
      }

      span {
        padding: 5px 12px;
      }
    }

    .search-form-container {
      width: 100%;
    }

    .jumbotron-btn-container {
      margin-top: 0px;

      a.btn-jumbotron {
        background: $primary-color;
        border: 2px solid $primary-color;
        color: $light-text-color;
        height: 46px;
        line-height: 30px;
        padding-left: 28px;
        padding-right: 28px;
        letter-spacing: 0.01em;
        font-weight: 600;
        margin-left: 9px;
        @include round(0px);
      }

      a.btn-jumbotron:hover {
        border: 2px solid $primary-color;
        background: rgba(64, 193, 240, 0.7);
        color: $light-text-color;
      }

      a.btn-jumbotron-2 {
        margin-left: 9px;
        background: $bg-white;
        border: 2px solid #ffffff;
        color: $primary-color;
        height: 46px;
        line-height: 30px;
        padding-left: 28px;
        padding-right: 28px;
        letter-spacing: 0.03em;
        font-weight: 600;
        @include round(0px);
      }

      a.btn-jumbotron-2:hover {
        border: 2px solid #ffffff;
        background: rgba(255, 255, 255, 0.7);
        color: $primary-color;
      }
    }

    a.btn-animated {
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 0 6px rgba(64, 193, 240, 0.5);
      color: #7c7c7c;
      height: 46px;
      line-height: 36px;
      width: 46px;
      font-weight: 500;
      font-size: 16px;
      @include transition();
      @include round(100%, true);
      background-clip: initial !important;

      &:hover {
        border: 2px solid transparent;
        background: rgba(255, 255, 255, 0.05);
        color: $primary-color;
        line-height: 38px;
      }
    }
  }
}

.home-page-section-heading span {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #676767;
}

.btn-heading {
  background: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
}

/*-----  JUMBO SEARCH INPUT FIELD----*/

form.bkb-live-search-form.bkb-jumbo-search-box #s {
  display: block;
  width: 100%;
  @include round(0px);
  border: 1px solid lightgray;
  height: 3em;
  padding: 12px;
  -moz-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.2);
}
