/*----- Product Feature Block ----*/

.section-product-feat {
  position: relative;
  padding: 0;
}

.feat-img-side-bg {
  left: 0;
  padding: 0;
  position: absolute !important;
  top: 0px;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.feat-img-side-bg.img {
  position: absolute;
  top: -30px;
  left: 0;
  max-width: 100%;
}

.product-feat-info-block {
  padding: 52px 0 52px 30px;
  margin-right: 100px;
  max-width: 600px;
}

.product-feat-inner-info {
  margin-top: 72px;
  margin-bottom: 60px;
}
