// SLIDER

.slider-wrap {
  clear: both;
}

#slider_1 {
  .item img {
    display: block;
    width: 100%;
    height: auto;
  }

  .slider_item_container {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: $bg-black;
    height: 40vh;

    @include tablet {
      height: 60vh;
    }

    @include tabletHorizontal {
      height: 55vh;
    }

    @include desktop {
      height: 70vh;
    }
  }
}
#slider_1 .slider-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 32px;
  h1 {
    letter-spacing: 0.01em;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    color: inherit;
  }

  h2 {
    letter-spacing: 0.01em;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    margin: 0px 0 0;
    color: $text-white;
    span {
      padding: 0 3px;
      font-weight: 400;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    margin: 16px 0 0;
    color: $text-white;
  }

  // List Type.

  ul,
  ol {
    padding: 0;
    list-style: none;
    margin: 12px 0 0;

    li {
      margin: 3px 0;
    }
  }

  // Buttons.

  .slider-button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    margin: 12px 0 0;

    .btn {
      margin: 0px !important;
    }
  }

  .text-center {
    .slider-button {
      justify-content: center;
    }
  }

  .text-end {
    .slider-button {
      justify-content: flex-end;
    }
  }
}

#slider_1 .slider-contents-info {
  background: rgba(0, 0, 0, 0.5);
  padding: 12px 42px 42px 42px;
  display: block;
}

#slider_1 .owl-nav {
  @include transition();
  opacity: 0;
  margin: 0;
  z-index: 1;
}

#slider_1 .owl-nav [class*="owl-"] {
  color: $text-white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

#slider_1 .owl-nav .owl-prev {
  left: 3%;
  position: absolute;
  padding: 0;
  top: 50%;
  width: 42px;
  font-size: 42px;
  color: $text-white;
  background: transparent;
  margin-top: -42px;
  @include transition();
  text-align: center;
}

#slider_1 .owl-nav .owl-prev:hover {
  color: #13b4ef;
  background: transparent;
}

#slider_1 .owl-nav .owl-next {
  right: 3%;
  position: absolute;
  padding: 0;
  top: 50%;
  width: 42px;
  font-size: 42px;
  color: $text-white;
  background: transparent;
  margin-top: -42px;
  @include transition();
  text-align: center;
}

#slider_1 .owl-nav .owl-next:hover {
  color: $primary-color;
  background: transparent;
}

#slider_1 .owl-dots {
  margin: 0;
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  text-align: center;
}

#slider_1 .owl-dots .owl-dot {
  @include round(4px);
  display: inline-block;
  padding: 2px;
  width: 16px;
  height: 8px;
  background: #fafafa;
  margin: 0 4px;
}

#slider_1 .owl-dots .owl-dot span {
  display: none;
}

#slider_1 .owl-dots .active {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 24px;
  background: $primary-color;
}

#slider_1 .owl-dots .active span {
  display: none;
}

#slider_1:hover .owl-nav {
  opacity: 1;
}

#slider_1:hover .owl-nav .owl-prev {
  left: 1%;
}

#slider_1:hover .owl-nav .owl-next {
  right: 1%;
}

.slide-bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center center;
  background-origin: initial;
  background-repeat: no-repeat;
  @include transition();
  transform: rotate(0deg) scale(1);
}

.slidezoom {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

.owl-carousel .owl-item {
  overflow: hidden !important;
}
