/*----- Custom Social Icons ----*/

.custom-social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  @include desktop {
    margin: 0;
  }

  .btn-social-icon {
    height: 42px;
    width: 42px;
    line-height: 32px;
    border: 0;
    color: $light-text-color;
    background: $primary-color;
    @include transition();
    @include round(0px, true);
    [class^="fa"] {
      line-height: 32px;
    }
    &:hover {
      color: $light-text-color;
      background: darken($primary-color, 10%);
    }
  }
}
