#preloader {
  background: $bg-white;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;

  span {
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    position: absolute;
    top: 50%;
    width: 120px;
    height: 120px;
  }
}
