.section-heading-container {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section-heading,
.section-subheading {
  margin: 0px;
}

.section-heading {
  position: relative;
  font-size: 20px;
  @include desktop {
    font-size: 24px;
  }
  margin-top: 0px;
  margin-bottom: 24px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #737373;

  &:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 24px;
    display: block;
    bottom: -24px;
    left: 50%;
    margin-left: -50px;
    background-image: url("../images/heading_seperator_alt.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  span {
    font-style: 400;
    color: #666666;
  }
}

.section-heading-alt {
  position: relative;
  font-size: 24px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: $light-text-color;

  &:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 24px;
    display: block;
    bottom: -24px;
    left: 50%;
    margin-left: -50px;
    background-image: url("../images/heading_seperator_alt.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  span {
    font-style: 400;
    color: $light-text-color;
  }
}

// Sub heading alternative version.

.section-subheading {
  font-size: 14px;
  line-height: 16px;
  @include desktop {
    font-size: 18px;
    line-height: 24px;
  }
  font-weight: 400;
  color: #7c7c7c;
}

.section-subheading-alt {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #fcfcfc;
}

.only-heading {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #737373;
  padding-bottom: 6px;
  border-bottom: 2px solid #eeeeee;
  clear: both;
  width: 100%;
  margin-bottom: 24px;

  &:after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    display: block;
    width: 60px;
    height: 2px;
    background: $primary-color;
    @include transition();
  }
}

/*-----  Left Alignment ----*/

.section-heading-container.text-left .section-heading:before,
.section-heading-container.text-left .section-heading-alt:before {
  margin: 0;
  left: 0;
}

/*----- Right Alignment ----*/

.section-heading-container.text-right .section-heading-alt:before,
h2.only-heading.text-right::after {
  left: initial;
  right: 0;
}

.section-heading-container.text-left .section-subheading,
.section-heading-container.text-left .section-subheading-alt,
.section-heading-container.text-right .section-subheading-alt {
  padding: 0;
}

/*-----  Center Alignment ----*/

.only-heading.text-center:after {
  left: 50%;
  margin-left: -30px;
}

/*----- Alerted Position ----*/

.kdesk_heading_pos_alt h2.section-heading,
.kdesk_heading_pos_alt h2.section-heading-alt {
  clear: both;
  margin-top: 24px;

  &:before {
    top: -20px;
  }
}
