// Screensized variables
$tablet_screen_size: 576px;
$tablet_horizontal_screen_size: 767px;
$desktop_screen_size: 992px;
$large_screen_size: 1200px;

// Theme Colors.

$primary-color: #13b4ef;
$text-color: #333333;
$light-text-color: #ffffff;
$bg-white: #ffffff;
$border-color-white: #d0dae2;
$border-gray: #c6c6c6;
$bg-error: #e63f37;
$bg-gray: #c6c6c6;
